@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

/* logo font  */
.logoFont {
    font-family: 'Gorditas', cursive;
}

/* hover home card  */
.CardHoverItem {
    transition: .3s ease-in-out;
}
.customHomeCardHover:hover .CardHoverItem {
    background-color: #03384D;
    padding: 20px 0;
}

/* active Route  */
.active{
    color: red;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}
/* dashboard active Route  */
.nabLinkStyle li .active{
    color: white;
    background-color: #3B95B0;
    border-radius: 5px;
}


:root {
    --swiper-theme-color: #fff !important;
}

/* single product details img gallery slider */
.image-gallery-slide-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.image-gallery-image{
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
    transition: .3s;
}
.image-gallery-image:hover{
    transform: scale(1.6);
    border-radius: 5px;
}
.image-gallery-left-nav {
    display: none;
}
.image-gallery-right-nav {
    display: none !important;
}

.image-gallery-thumbnails-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.image-gallery-thumbnails-container button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.image-gallery-thumbnail:hover {
    outline: none;
    border: 2px solid #0C4E67 !important;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    outline: none;
    border: 2px solid #0C4E67 !important;
    
}

